name: Docker build

on:
  workflow_dispatch:
  workflow_run:
    workflows: ['Release']
    types: [completed]
  schedule:
    - cron: '0 23 * * *' # Nightly

jobs:
  docker:
    uses: rjlee/actual-auto-ci/.github/workflows/docker-api-matrix.yml@v1
    with:
      image-name: ghcr.io/${{ github.repository }}
      platforms: linux/amd64
      majors-window: 3
      dockerfile: Dockerfile
      context: .

